@import "tailwindcss";
:root {
  --primary : #CA8544;
  --walnut : #3F2C20;
  --coca : #251510;
  --wine : #7A312D;
  --smook : #4D433B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-walnut: var(--walnut);
  --color-coca: var(--coca);
  --color-wine: var(--wine);
  --color-smook: var(--smook);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit :  var(--font-outfit)

}

body {
  font-family: Arial, Helvetica, sans-serif ,Outfit;
}


/* Mobile & Tablet  */
@media (max-width: 1023px) {
  .responsive-gallery-card {
    height: 180px !important;  
  }
}

/*  Medium screens  */
@media (min-width: 768px) and (max-width: 1023px) {
  .responsive-gallery-card {
    height: 320px !important;
  }
}