@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #CA8544;
  --walnut : #3F2C20;
  --coca : #251510;
  --wine : #7A312D;
  --smook : #4D433B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-walnut: var(--walnut);
  --color-coca: var(--coca);
  --color-wine: var(--wine);
  --color-smook: var(--smook);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit :  var(--font-outfit)

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif ,Outfit,;
}
